.filters {
  margin-top: 2.875rem;
  display: flex;
  justify-content: space-between;
}

.filterSearch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 40%;
  padding-inline-start: 1rem;
  border-radius: 100vw;
  border: 1px solid var(--gray-100);
  background: rgba(255, 255, 255, 0.03);
  opacity: 0.5;
}

.filterInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
}

.filterBtns {
  display: flex;
  gap: 2rem;
}
