.layout {
  background-color: var(--brown-900);
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  /* position: relative; */
}

.sidebar {
  width: 255px;
}

.content {
  width: calc(100% - 255px);
  height: 100%;
}
