.logoContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 35px;
}

.vector {
  width: 1288.28px;
  height: 1610.07px;
  top: -334.28px;
  left: 356.1px;
  gap: 0px;
  opacity: 0px;
  max-height: 100vh;
}

.mask {
  width: 1200px;
  height: 957px;
  max-height: 100vh;
  max-width: calc(1240px * (100vh / 957px));
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(0deg, #191919 0%, #191919 100%);
  position: relative;
  overflow: hidden;
  color: white;
}

.vector1,
.vector2,
.vector3 {
  width: 1350px;
  height: 1350px;
  opacity: 0.4; /* Corrigido para 0.4 (não é um valor válido em pixels) */
  transform: rotate(52deg);
  position: absolute; /* Permite a sobreposição */
  top: -100px; /* Alinhamento vertical */
  border-radius: 250px;
}

.vector1 {
  background: rgb(237, 95, 95);
  z-index: 1; /* Colocado no topo */

  left: 1050px; /* Alinhamento horizontal */
}

.vector2 {
  margin-left: 100px;
  background: rgb(174, 58, 58);
  z-index: 2; /* No meio */

  left: 750px; /* Alinhamento horizontal */
}

.vector3 {
  margin-left: 200px;
  background: rgb(128, 38, 38);
  z-index: 3; /* No fundo */

  left: 450px; /* Alinhamento horizontal */
}

.containerInferior {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: white;
  padding: 25px;
  z-index: 4;
  align-items: center;

  backdrop-filter: blur(10px);
  background: #a4a2a20d;
  border-radius: 24px;

  width: 634px;
  height: 198px;
  gap: 48px;
  opacity: 0px;
}

.containerTitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
}

.negritoText {
  font-weight: bold;
}

.containerParagraph {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
}
