.table {
  border-collapse: separate;
  border: 1px solid var(--rgba-white-4);
  border-radius: 0.625rem;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-block-start: 2.125rem;
}

.table caption {
  font-size: 1rem;
  margin: 0.5em 0 0.75em;
}

.table td {
  border-block-start: 1px solid var(--rgba-white-4);
}

.table th,
.table td {
  padding: 1rem;
  text-align: center;
}

.table th:not(:last-child),
.table td:not(:last-child) {
  border-inline-end: 1px solid var(--rgba-white-4);
}
