.section {
  text-align: center;
  padding: 10px;
  gap: 10px;
  background-color: var(--gray-900);
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 70px 40px;
  }
}

@media (min-width: 360px) {
  .section {
    padding: 60px 20px;
  }
}

@media (min-width: 414px) {
  .section {
    padding: 70px 30px;
  }
}

@media (min-width: 390px) and (max-width: 420px) {
  .section {
    padding: 30px 40px;
  }
}

@media (min-width: 428px) {
  .section {
    padding: 90px 60px;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  .section {
    padding: 70px 60px;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.image {
  width: 80%;
  height: auto;
  max-width: 1120px;
  margin-bottom: 50px; /* Adicionando mais espaço entre a imagem e o título */
  margin-top: 80px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1px;
  max-width: 100%;
  opacity: 1;
  color: var(--text-color-primary);
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}

.textContainer {
  max-width: 600px; /* Limitando a largura do container de texto */
  width: 100%;
  opacity: 1;
}

.paragraph {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  color: var(--text-color-primary);
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 600px;
  hyphens: auto; 
}


@media (min-width: 768px) {
  .paragraph {
    font-size: 20px;
    padding: 0 0px; 
  }
}