.logoContainer {
  position: absolute;
  left: 50px;
  right: 0;
  margin: 35px;
}


.card{
  width: 60%;
}
.mask {
  width: 100%;
  height: 100vw;
  max-height: 100vh;
  gap: 0px;
  background: linear-gradient(0deg, #191919 0%, #191919 100%);
  position: relative;
  overflow: hidden;
  color: white;
}

.vector1,
.vector2,
.vector3 {
  width: 1350px;
  height: 1550px;
  opacity: 0.4; /* Corrigido para 0.4 (não é um valor válido em pixels) */
  transform: rotate(52deg);
  position: absolute; /* Permite a sobreposição */
  top: -300px; /* Alinhamento vertical */
  border-radius: 25%;
}

.vector1 {
  background: rgb(237, 95, 95);
  z-index: 1; /* Colocado no topo */

  left: 1050px; /* Alinhamento horizontal */
}

.vector2 {
  margin-left: 100px;
  background: rgb(174, 58, 58);
  z-index: 2; /* No meio */

  left: 750px; /* Alinhamento horizontal */
}

.vector3 {
  margin-left: 200px;
  background: rgb(128, 38, 38);
  z-index: 3; /* No fundo */

  left: 450px; /* Alinhamento horizontal */
}

.containerInferior {
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: white;
  padding: 25px;
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  border: 1px solid #78787879;
  border-radius: 24px;
  width: 634px;
  height: 198px;
  gap: 48px;
}

.containerTitle {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.negritoText {
  font-weight: 600;
  
}

.containerParagraph {
  margin-top: 24px;
  color: #CBCBCB;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.6px;
}



/* Tela pequena (mobile) */
@media (max-width: 768px) {

  .card{

    display: none;
  }

}