.logoContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 35px;
}

.backgroundContainer{
  width: 100vh;
  height: 100vh;
}

.containerInferior {
  position: absolute;
  bottom: 35px;
  left: 25px;
  color: white;
  padding: 25px;
  z-index: 4;
  align-items: center;

  backdrop-filter: blur(10px);
  background: #a4a2a20d;
  border-radius: 24px;

  width: 634px;
  height: 198px;
}

.containerTitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
}

.negritoText {
  font-weight: bold;
}

.containerParagraph {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
}
