.filterBtn {
  cursor: pointer;
  font-size: 0.875rem;
  border: 1px solid var(--gray-100);
  color: var(--gray-100);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 9px 14.645px 9px 11px;
  border-radius: 100vw;
}
