.tableBody {
  font-size: 0.875rem;
  font-weight: 400;
}

.tableBody {
  background-color: var(--brown-700);
}

.adminRow {
  color: var(--green-300);
}

.actionBtns {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.actionBtn {
  cursor: pointer;
  background-color: transparent;
  color: var(--gray-500);
  border: 0;
}
